body {
    display: grid;
    grid-template-columns: 100px 1fr 140px;
    grid-template-areas:
    "head head head"
    "menu feed msg";
    
}

header {
    grid-area: head;
    background-color: blue;
}

aside {
    background-color: gray;
}

.menu {
    grid-area: menu;
}

.messanger {
    grid-area: msg;
}

main {
    grid-area: feed;
    
}