body {
    display: grid;
    grid-template-columns: 100px 1fr 140px;
    grid-template-areas:
    "head head head"
    "menu feed msg";
    
}

body > header {
    grid-area: head;
    background-color: blue;
}

body > aside {
    background-color: gray;
}

.menu {
    grid-area: menu;

}

.messanger {
    grid-area: msg;
    background-color: hotpink;
}

body > main {
    grid-area: feed;
    background-color: yellow;
    padding: 40px;
}